@import './palette.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // background-color: $md-light-blue-900;
  background-color: $md-black;
  color: $md-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  cursor: pointer;
  outline: none;
  color: #fff;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gap-8 {
  gap: 8px;
}