@import "../../../style/palette.scss";

.menu-campaign-survival-mode {
  display: inline-flex;
  margin: auto;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  justify-content: center;

  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  .maps-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }
}
